/* Estilos para dispositivos móviles */
@media (max-width: 768px) {
  /* Estilos generales para el cuerpo de la aplicación */
  body {
    font-size: 16px; /* Aumentar el tamaño de fuente base para mejor legibilidad */
  }

  /* Ajustes para el contenedor principal de la aplicación */
  .dashboard-container {
    padding: 10px; /* Reducir el padding en pantallas pequeñas */
  }

  .dashboard-header {
    flex-direction: column;
    align-items: flex-start;
  }

  .header-user-info {
    width: 100%;
    justify-content: space-between;
    margin-top: 10px;
  }

  .card-header {
    flex-direction: column;
    align-items: flex-start;
  }

  .card-header h2 {
    margin-bottom: 10px;
  }
}

/* Estilos para pantallas muy pequeñas (por ejemplo, móviles en posición vertical) */
@media (max-width: 480px) {
  .dashboard-header h1 {
    font-size: 24px; /* Reducir el tamaño del título principal */
  }

  .main-button {
    padding: 10px 15px; /* Ajustar el padding de los botones principales */
    font-size: 14px;
  }

  .login-form {
    width: 90%;
    padding: 15px;
  }
}
